* {
  margin: 0;
  padding: 0;
  font-family: '微软雅黑';
}

.nav {
  height: 100px;
  background-color: #565555;

}

.nav .logo {
  float: left;
  margin: 5px 25px;
}

.nav .logo img {
  height: 90px;
}

.nav .daohang {
  float: left;
  margin: 30px auto;
}

.nav a {
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  padding: 5px 30px;
  margin: 0px 10px;
}

.nav a:hover {
  color: #F08348;
}

.content {
  background-image: url("../img/back_02.png");
}

.content .title {
  width: 1000px;
  height: 60px;
  background-color: #ECF3F8;
  margin: 10px 25%;
}

.content .title h2 {
  height: 40px;
  line-height: 40px;
  color: #3f9eca;
  font-size: 24px;
  padding: 10px 20px 0 20px;
  font-weight: 400;
}

.list .txt {
  display: inline-block;
  padding-left: 15px;
  width: 805px;
  height: 100px;
  overflow: hidden;
}

.list .txt h3 {
  font-size: 16px;
  line-height: 36px;
  font-weight: 700;
  color: #666;
}

.content .list img {
  width: 160px;
  height: 100px;
}

.li-box {
  width: 1000px;
  height: 110px;
  border-bottom: 1px solid #ccc;
  margin: 10px 25%;
}

.bottom {
  height: 200px;
  background-color: #282828;
}

.bottom .foot-box {
  width: 1000px;
  margin: auto 25%;
}

.bottom .foot-box h1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 32px;
  color: #fff;
  text-align: left;
  margin-bottom: 10px;
  letter-spacing: 3px;
}

.bottom .foot-box p {
  color: #f2f2f2;
  font-size: 14px;
  line-height: 24px;
  /* 字间距3px */
  letter-spacing: 3px;
}

.bottom .foot-box .sbox1 {
  display: inline-block;
  width: 400px;
  border-right: 1px solid #424242;
  margin: 30px auto;
}

.bottom .foot-box .sbox2 {
  display: inline-block;
  width: 400px;
  margin-left: 50px;
}

.sbox-h3 {
  font-size: 20px;

  color: #d0d0d0;
  line-height: 1.5;
}


.foot-box .sbox2 li {
  list-style: none;
}

.foot-box .sbox2 a {
  text-decoration: none;
  color: #7B886D;
  font-size: 14px;
  line-height: 24px;
  /* 字间距3px */
  letter-spacing: 3px;
}

.sbox2 a:hover {
  text-decoration: underline;
}