* {
  margin: 0;
  padding: 0;
}

.nav {
  height: 100px;
  background-color: rgb(0, 0, 0, 0.3);
}

.nav .logo {
  float: left;
  margin: 5px 25px;
}

.nav .logo img {
  height: 90px;
}

.nav .daohang {
  float: left;
  margin: 30px auto;
}

.nav a {
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  padding: 5px 30px;
  margin: 0px 10px;
}

.nav a:hover {
  color: #F08348;
}

.top {
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.banner {
  height: 500px;
}

.content {
  height: 500px;
}

.bottom {
  height: 200px;
  background-color: #282828;
}


.bottom h1 {
  font-size: 30px;
  font-weight: 700px;
  line-height: 32px;
  color: #fff;
  text-align: left;
  margin-bottom: 10px;
  letter-spacing: 3px;
}

.bottom .row1 p {
  color: #f2f2f2;
  font-size: 14px;
  line-height: 24px;
  /* 字间距3px */
  letter-spacing: 3px;
}

.bottom a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  /* 字间距3px */
  letter-spacing: 3px;
}

.sbox-h3 {
  font-size: 20px;
  color: #d0d0d0;
  line-height: 1.5;
}

.bottom .row3 li {
  list-style: none;
}

.bottom a:hover {
  text-decoration: underline;
}

.b-div {
  border-right: 1px solid #424242;
  float: left;
  margin: 20px 20px 0px 30px;
  padding-right: 20px;
}